* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
.principal {
    width: 100%;
    height: 100%;
}

body {
    background-color: #000768;
}

.principal {
    display: flex;
    align-items: center;
    justify-content: center;

    .formulario {
        width: 500px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        background-color: #e1ff00;
        gap: 15px;
    
        .wrapper_input {
            input {
                font-size: 20px;
                position: relative;
                font-weight: 500;
                color: #222222;
                width: 100%;
                border: 0;
                padding: 4px 0;
                border-bottom: 1px solid #1d1d11;
                background-color: transparent;

                &::placeholder {
                    color: #3a3a3a;
                    opacity: 1;
                    transition: 0.4s;
                }

                &:focus::placeholder  {
                    opacity: 0;
                    transition: 0.2s;
                }

                &:focus {
                    outline: none;
                }

                &:focus ~ .bar {
                    width: 100%;
                    transition: 0.4s;
                }
            }

            .bar {
                position: relative;
                top: -2px;
                width: 0;
                height: 3px;
                background-color: #07006d;
                transition: 0.4s;
                display: block;
            }

            .cep_error {
                display: none;
                color: darkred;
            }
        }

        button {
            padding: 20px;
            width: 200px;
            border: none;
            background-color: #0f0253;
            color: #fff;
            border-radius: 50px;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                background-color:#3c66a1;
            }
        }
    }
}